@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7de4d9;
  --compliment-color: #147f94;
}

.primary-color {
  color: var(--primary-color);
}

.compliment-color {
  color: var(--compliment-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-compliment-color {
  background-color: var(--compliment-color);
}

.text-primary-color {
  color: var(--primary-color);
}
